
<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <section class="container"  ng-controller="ToDoController as todo">
    <h1>TODO List</h1>
    <h4>A place to store the things you have to do!</h4>
    <input type="text" placeholder ="filter your to-dos" ng-model="sort">

    <section>
        <section class="theList">
            <ol>
                <li ng-repeat="item in todo.list | filter: sort track by $index" ng-class="{firstClass:item.completed}">
                    <button type ="button" ng-click ="todo.completeTask($index);" ng-If="item.completed === false" class="complete">Complete</button>
                        {{ item.task }}
                    <button type ="button" ng-click="todo.removeTask($index);"class="x">
                        <i class="material-icons">close</i>
                        </button>
                    <button class="edit" ng-click"editTask($index)">Edit</button>
                    </li>

            </ol>
        </section>

   
        <input ng-model="task" type="text" placeholder ="Add your to-do">
        <button type="button" ng-click= "todo.addTask(task)" class ="add">Add</button>
 
</section>
    

 
    












    
     <script src='https://code.angularjs.org/1.6.5/angular.min.js'></script>
    <script src="module.js"></script>
    <script src="ctrl.js"></script>
</body>      
</html>